img {
    height: 350px;
}

div {
    display:block;
    /* align-content: center; */
    /* align-items: center; */
    justify-content: center;
    padding-top: 80px;
}

HTML {
    background-color:rgb(156, 226, 229);
}